<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

<!--  property :   @Autowired  private Address address;  -->
    <bean class="com.spring.core.Address" name="address1">
        <property name="street" value="Street Name 1"/>
        <property name="city" value="City Name 1"/>
    </bean>

<!--  setter :   @Autowired   public void setAddress(Address address) { this.address = address;   } -->
    <bean class="com.spring.core.Address" name="address">
        <property name="street" value="Street Name "/>
        <property name="city" value="City Name "/>
    </bean>

    <bean class="com.spring.core.Employee" name="employeeBean" />
</beans>
